@media(max-width:624px){
    .cabecalho{
        justify-content: center;
    }
    .cabecalho .logo{
        margin-bottom: 30px;
    }

    .cabecalho .menu .item a{
        font-size: calc(0.6em + 1vw);
    }

    .logo .titulo{
        text-align: center;
    }

    .instrucao-servico{
        margin: 20px;
    }
}

@media(max-width:900px){
    .conteudo-principal .paineis{
        height: 500px;
    }
    .conteudo-principal .paineis .titulo{
        font-size: 16px;
        width: 60%;
}

@media(max-width:940px){
    .rodape .navegacao{
        justify-content: center;
    }
    .rodape .navegacao .logo{
        margin-bottom: 30px;
    }

    .rodape .navegacao .logo, .rodape .navegacao {
        width: 100%;
        justify-content: center;
    }
}

@media(max-width:1200px){
    .quem-somos .conteudo{
        flex-direction: column;
        text-align: center;
        padding: 20px 30px;
        height: 100%;
    }

    .quem-somos .conteudo .imagem{
        display: none;
    }

    .quem-somos .conteudo .informacoes{
        width: 100%;
    }

    .viagens-gastronomicas{
        display: flex;
        flex-wrap: wrap;
    }

    .despedida{
        text-align: center;
    }
}